body{
    width: 100%;
    background-color: wheat;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: c;
    position: relative;
}


.container{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: relative;
}

.interactive-ui{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}


button{
    padding: 30px;
    border-radius: 20px;
    background-color: brown;
    color: wheat;
    font-weight: bold;
    font-size: 18px;
}


#results{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}


.green-bg{
    background-color: green;
}

.red-bg{
    background-color: red;
}


.computer-choices{
    font-size: 18px;
    background-color: brown;
    color: wheat;
    border-radius: 20px;
    padding:30px;
    font-weight: bold;
}


.player-buttons{
    display: flex;
    flex-direction: column;
}